<body>
    <div class="container">
        <h1>Plain Language Statement</h1>
                <table class="styled-table">
                    <tr>
                        <td><b>Who is conducting this research?</b></td>
                    </tr>
                    <tr>
                        <td>This final year research project is being conducted by Ruben Mukherjee and Piyush Vijay Wadhai under the supervision of Prof. Tomas Ward, School of Computing, DCU, and Lili Zhang, School of Computing, DCU.</td>
                    </tr>

                    <tr>
                        <td><b>Title of the research</b></td>
                    </tr>
                    <tr>
                        <td>Conspiracy Theory Belief, Anxiety and Human Decision Making</td>
                    </tr>
                    <tr>
                        <td><b>Research Summary</b></td>
                    </tr>
                    <tr>
                        <td>Research has shown that people with anxiety tend to perform slightly differently than people without anxiety in some psychological tasks. Research has also shown a link between anxiety and tendencies to disbelieve/believe in conspiracy theories. We are combining these two motivations to analyse how anxiety and conspiracy theory-belief influence our decision-making as measured in learning tasks. We will look for patterns in the decision making data collected to determine if there are any differences.</td>
                    </tr>
                    <tr>
                        <td><b>If you agree to participate in this project:</b></td>
                    </tr>
                    <tr>
                        <td>If you decide to take part, you will be directed to the website which contains the surveys and task. First, you will complete a short survey which relates to your belief in conspiracy theories, and then you will be asked to complete another short survey which relates to your experience with anxiety. Finally you will be presented with the decision-making task. In total, you should be able to complete the surveys and task in approximately 25 minutes.</td>
                    </tr>
                    
                    <tr>
                        <td><b>What happens if I change my mind?</b></td>
                    </tr>
                    <tr>
                        <td>Participation in this study is entirely voluntary. You can withdraw your participation from the study for any reason, without penalty, at any point before the submission of your data.</td>
                    </tr>
                    <tr>
                        <td><b>How will my privacy be protected?</b></td>
                    </tr>
                    <tr>
                        <td>Due to the anonymity of the study and the fact that the computer games are completed anonymously, no identifying personal information will be collected. So your privacy and confidentiality will be maintained at all times.
                        We do not ask for your:
                            <ul>
                                <li>Name</li>
                                <li>Email</li>
                                <li>Phone No</li>
                            </ul>
                        We do ask for your:
                        <ul>
                          <li>Age</li>
                          <li>Gender</li>  
                        </ul>        
                        </td>
                    </tr>
                    <tr>
                        <td><b>What are the benefits of participating in the study?</b></td>
                    </tr>
                    <tr>
                        <td>You are entered into a raffle to win a €100 One4All voucher after completing this experiment. You are assigned a unique identifier code which will be entered into the draw(which can be seen at the top of this page), and a winner will be chosen on the 15th of July 2021. The winning unique identifier will be selected at random, and will be set as the password encrypting a publicly accessible document containing the voucher code for One4All. Your unique identifier and the link for the document will be shown after completion of the tasks.

                            Participating in this project will also help determine how anxiety and conspiracy theory-belief affect decision making in learning tasks. We do not foresee any risks to participants from completing these tasks. Participants will be free to change their mind and withdraw from the study at any time until they submit their final response and tick to consent to their responses being collected.
                            
                            Since no personal data is collected, participants will not be informed of the results of this project. However, the completed work will be submitted for publication where the anonymised results will be displayed.</td>
                    </tr>
                    <tr>
                        <td><b>How will participants find out what happens with the project?</b></td>
                    </tr>
                    <tr>
                        <td>As this study is part of the student researcher’s final year project, individual feedback will not be provided to participants. However, participants can email the student researcher from the contacts below and request a summary of the research findings.</td>
                    </tr>
                    <tr>
                        <td><b>Contact details for further information</b></td>
                    </tr>
                    <tr>
                        <td>If you have any concerns or queries as regards this research, please contact:
                            <ul>
                                <li><b>Student Researcher:</b> Ruben Mukherjee (ruben.mukherjee2@mail.dcu.ie)</li>
                                <li><b>Student Researcher:</b> Piyush Wadhai (piyush.wadhai2@mail.dcu.ie)</li>
                                <li><b>Researcher Supervisor:</b> Prof Tomas Ward (tomas.ward@dcu.ie),Lili Zhang (lili.zhang27@mail.dcu.ie)</li>  
                            </ul> 
                        </td>
                    </tr>
                    <tr>
                        <td><b>If participants have concerns about this study and wish to contact an independent person, please contact:</b></td>
                    </tr>
                    <tr>
                        <td>The Secretary, Dublin City University Research Ethics Committee, c/o Research and Innovation Support, Dublin City University, Dublin 9. Tel 01-7008000, e-mail <b>rec@dcu.ie</b></td>
                    </tr>
                </table>
              </div>
              <div id ="return-button">
                <button class="glow-on-hover"
                    type="button"
                    (click)="goToICF()">
                    Return
                </button>
            </div>
    </body>
