<body>
    <div class="container">
        <h1>Plain Language Statement</h1>
                <table class="styled-table">
                    <tr>
                        <td><b>Who is conducting this research?</b></td>
                    </tr>
                    <tr>
                        <td>This final year research project is being conducted by Ruben Mukherjee and Piyush Vijay Wadhai under the supervision of Prof. Tomas Ward, School of Computing, DCU, and Lili Zhang, School of Computing, DCU.</td>
                    </tr>

                    <tr>
                        <td><b>Title of the research</b></td>
                    </tr>
                    <tr>
                        <td>New data capture methodology in Computational Modelling.</td>
                    </tr>
                    <tr>
                        <td><b>What is the research about?</b></td>
                    </tr>
                    <tr>
                        <td>This research will use a web app where participants will complete two sets of computer simulation tasks that involve decision making responses.</td>
                    </tr>
                    <tr>
                    <tr>
                        <td><b>What is the aim of the research?</b></td>
                    </tr>
                    <tr>
                        <td>The aim of this research is to investigate whether the voice interface-based decision-making task produces similar results when compared with conventional graphical/visual interface-based decision-making task which is multi arm bandit task in terms of performance equivalency.</td>
                    </tr>
                    <tr>
                        <td><b>If you agree to participate in this project:</b></td>
                    </tr>
                    <tr>
                        <td><ol><li>If you are interested in participating in the study, you will be provided with a unique user ID (which can be accessed via a computer), and you will be asked to read and complete a Consent Form to indicate that you understand what your participation involves.</li>
                            <li>After completing the Consent Form, you will be asked a few questions about your age, gender.</li>
                            <li>Then you will complete a series of short computer simulation task that investigate decision making.</li>
                            <li> Study will take no longer than 30 minutes.</li>
                        </ol></td>
                    </tr>
                    
                    <tr>
                        <td><b>What happens if I change my mind?</b></td>
                    </tr>
                    <tr>
                        <td>Participation in this study is entirely voluntary. You can withdraw your participation from the study for any reason, without penalty, at any point before the submission of your data.</td>
                    </tr>
                    <tr>
                        <td><b>How will my privacy be protected?</b></td>
                    </tr>
                    <tr>
                        <td>Due to the anonymity of the study and the fact that the computational simulation tasks are completed anonymously, no identifying personal information will be collected. So your privacy and confidentiality will be maintained at all times.
                        We do not ask for your:
                            <ul>
                                <li>Name</li>
                                <li>Email</li>
                                <li>Phone No</li>
                            </ul>
                        We do ask for your:
                        <ul>
                          <li>Age</li>
                          <li>Gender</li>  
                        </ul>        
                        </td>
                    </tr>

                    <tr>
                        <td><b>What are the benefits of participating in the study?</b></td>
                    </tr>
                    <tr>
                        <td>While there are no direct benefits to participants from this research, it is envisaged that some participants may enjoy participating in research, indeed their indirect contribution to our scientific understanding of human decision making and how AI can make the decision-making tasks better.</td>
                    </tr>
                    <tr>
                        <td><b>What are the legal limitations to data confidentiality?</b></td>
                    </tr>
                    <tr>
                        <td>Confidentiality of information can only be provided within the limits of the law. It is possible for data to be subject to freedom of information request and statute in relation to GDPR. However, given the nature of the study, and that you have anonymity, such requests are not anticipated.</td>
                    </tr>
                    <tr>
                        <td><b>What are the risks of participating in the study?</b></td>
                    </tr>
                    <tr>
                        <td>Given the nature of the research project and the data collection methods employed, the risk level of this study is considered to be very low. Also, please remember, that you can withdraw from the study at any point prior to the submission of your data.</td>
                    </tr>
                    <tr>
                        <td><b>How will the data be used and subsequently disposed of?</b></td>
                    </tr>
                    <tr>
                        <td>Your name or identification will not be included at any stage of this research. All data gathered will be analysed using a Bayesian reinforcement learning model on a password protected cloud server belonging to the student researchers. Data will only be accessible to the student researchers, research supervisors, and, upon request, data may also be accessed by an external examiner. If the study is not published, the data will be held for a period of one year after the completion of the thesis. The data will be made publicly available after one year of the completion of the study.</td>
                    </tr>
                    <tr>
                        <td><b>How will participants find out what happens with the project?</b></td>
                    </tr>
                    <tr>
                        <td>As this study is part of the student researcher’s master's practicum, individual feedback will not be provided to participants. However, participants can email the student researcher from the contacts below and request a summary of the research findings.</td>
                    </tr>
                    <tr>
                        <td><b>Contact details for further information</b></td>
                    </tr>
                    <tr>
                        <td>If you have any concerns or queries as regards this research, please contact:
                            <ul>
                                <li><b>Student Researcher:</b> Ruben Mukherjee (ruben.mukherjee2@mail.dcu.ie)</li>
                                <li><b>Student Researcher:</b> Piyush Wadhai (piyush.wadhai2@mail.dcu.ie)</li>
                                <li><b>Researcher Supervisor:</b> Prof Tomas Ward (tomas.ward@dcu.ie),Lili Zhang (lili.zhang27@mail.dcu.ie)</li>  
                            </ul> 
                        </td>
                    </tr>
                    <tr>
                        <td><b>If participants have concerns about this study and wish to contact an independent person, please contact:</b></td>
                    </tr>
                    <tr>
                        <td>The Secretary, Dublin City University Research Ethics Committee, c/o Research and Innovation Support, Dublin City University, Dublin 9. Tel 01-7008000, e-mail <b>rec@dcu.ie</b></td>
                    </tr>
                </table>
              </div>
              <div id ="return-button">
                <button class="glow-on-hover"
                    type="button"
                    (click)="goToICF()">
                    Return
                </button>
            </div>
    </body>
