<body>
    <div class="container">
        <h1>Plain Language Statement</h1>
                <table class="styled-table">
                    <tr>
                        <td><b>Who is conducting this research?</b></td>
                    </tr>
                    <tr>
                        <td>This final year research project is being conducted by Ruben Mukherjee and Piyush Vijay Wadhai under the supervision of Prof. Tomas Ward, School of Computing, DCU, and Lili Zhang, School of Computing, DCU.</td>
                    </tr>

                    <tr>
                        <td><b>Title of the research</b></td>
                    </tr>
                    <tr>
                        <td>asdasassdagsdgf</td>
                    </tr>
                    <tr>
                        <td><b>Title of the research</b></td>
                    </tr>
                    <tr>
                        <td>asdasassdagsdgf</td>
                    </tr>
                </table>
              </div>
              <div id ="return-button">
                <button class="glow-on-hover"
                    type="button"
                    (click)="goToICF()">
                    Return
                </button>
            </div>
    </body>
