#forest_image {  
    background-image: url("../../assets/images/forest.jpg");  
    background-repeat: no-repeat;
    background-position: center;
    width: 100%; // any width
    height: 640px; // any height  
    background-size: contain;
}   