<div>
	<!-- <button
		type="button"
		(click)="speak()">
		Text Single String
	</button> -->

	

    <button
		type="button"
		(click)="initDescription()">
		Start Init description 
	</button>
	<br>
	<br>
	<button
		type="button"
		(click)="startGame()">
		Start Game 
	</button>
	<br>
	<br>
	<button
		type="button"
		(click)="stop()">
		Stop speaking
	</button>
    <br>

	<br>
	<br>
	<button
		type="button"
		(click)="startService()">
		Start Record 
	</button>
    <br>

	<br>
	<br>
	<button
		type="button"
		(click)="stopService()">
		Stop Record
	</button>
    <br>
</div>
