.container {
    position: fixed;
    text-align: center;
    color: white;
  }

#forest-image {  
    background-image: url("../../assets/images/forest.jpg");  
    background-repeat: no-repeat;
    background-position: center;
    width: 99%; // any width
    height: 98%; // any height  
    background-size: cover;
    position: fixed;
} 

.column {
    float: center;
  }

.row {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #blank_image {  
    content : url("../../assets/images/blank_img.png");  
    width: 10%;
    height: 20%;
  }

#blue-bandit {  
    content : url("../../assets/images/lep1blue.png");  
    cursor: pointer;
    width: 18%;
    height: 18%;
} 

#blue-bandit:hover{
  filter:drop-shadow(3px 3px 0 #1e41cf) drop-shadow(-3px -3px 0 #1e41cf);
}

#red-bandit {  
    content : url("../../assets/images/lep2red.png");  
    cursor: pointer;
    width: 18%;
    height: 18%;
} 

#red-bandit:hover{
  filter:drop-shadow(3px 3px 0 rgb(141, 8, 8)) drop-shadow(-3px -3px 0 rgb(141, 8, 8));
}

#final-result{
  height: 10%
}

.pot { 
  position: fixed; 
}

img{
  height: 200px;
}

h2 { 
  position: absolute; 
  top: 100px; 
  left: 0; 
  width: 100%; 
  color: #FFD700;
}

#steal_bandit{
  content : url("../../assets/images/lep-run-left.png");  
  width: 15%;
  height: 15%;
}

#text {
    z-index: 100;
    position: absolute;
    font-size: 24px;
    font-weight: bold;
    left: 150px;
    top: 350px;
  }

  #start-button {  
    left: 50%;
    top: 50%;
    margin-top: 0%;   
    margin-left: -8%; 
    position: fixed;     
  }


  .glow-on-hover {
    width: 220px;
    height: 50px;
    outline: none;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-size: medium;
    font-weight: bold;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
