<div id="forest-image" class="container">
    <div class="row">
        <div class="column" id="pot-gold"></div>
    </div>
    <div class="row">
        <h1>{{totalReward}}</h1>
    </div>
    <div *ngIf="interfaceToggle; then clickInterface else voiceInterface"></div>
    <ng-template #clickInterface >
        <div class="row">
           <div class="col-md-3" id="blue-bandit-conventional" (click)="loadNextIteration(currentResponseIndex, 'blue')"></div>
           <div class="col-md-3"></div>
           <div class="col-md-3" id="red-bandit-conventional" (click)="loadNextIteration(currentResponseIndex, 'red')"></div>
        </div>
    </ng-template>

    <ng-template #voiceInterface>
        <div class="row">
            <div class="col-md-3" id="blue-bandit-voice"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3" id="red-bandit-voice"></div>
         </div>

         <div style="margin: 100px;">
            <!-- <button style="margin: 10px;" (click)="startService()">Start</button>
            <button style="margin: 10px;" (click)="stopService()">Stop</button> -->
            <button class="button" (click)="startVoiceGame()"><span>Start</span></button> 
            <p>{{voiceTextService.text}}</p>
            <p>{{iter_index}}</p>
        </div>

    </ng-template>
    

    
</div>


