<div id="forest-image" class="container">
    <div class="row">
        <div class="column" id="pot-gold">
            <h1>{{totalReward}}</h1>
        </div>
    </div>
    <div class="row">
           <div class="col-md-3" id="blue-bandit" (click)="loadNextIteration(currentResponseIndex, 'blue')"></div>
           <div class="col-md-3"></div>
           <div class="col-md-3" id="red-bandit" (click)="loadNextIteration(currentResponseIndex, 'red')"></div>
    </div>

    <div style="margin: 100px;">
        <h1>Voice recognition</h1>
        <button style="margin: 10px;" (click)="startService()">Start</button>
        <button style="margin: 10px;" (click)="stopService()">Stop</button>
        <p>{{voiceTextService.text}}</p>
    </div>
</div>


